/* For BasicCSS.html */
.divisionborders {
        border-color: black;
        border-style: solid;
        border-width: 2px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
}

.sectionborders {
    border-color: black;
    border-style: dotted;
    border-width: 2px;
    padding-left: 10px;
    margin-bottom: 10px;
}

pre code {
    display: block;
    background: none;
    white-space: pre-wrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
    font-family: Consolas;
    font-size: medium;
    text-align: left;
  }

table {
    padding-bottom: 5px;
}

.codeformat {
    background-color: rgb(243, 243, 243);
    padding-right: 10px;
}

.gutter {
    font-family: Consolas;
    font-style: bold;
    font-size: medium;
    text-align: left;
    background: rgb(170, 170, 170);
}
