/* For BasicCSS.html */
@import "https://cdn.rawgit.com/google/code-prettify/master/styles/desert.css";
.divisionborders {
        border-color: black;
        border-style: solid;
        border-width: 2px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
}

.sectionborders {
    border-color: black;
    border-style: dotted;
    border-width: 2px;
    padding-left: 10px;
    margin-bottom: 10px
}

code {
    color: #000000;
    font-family: Consolas;
    font-size: 16px;
    text-align: left;
}

pre{
    background: #dbdbdb;
    text-align: left;
    width: 100%;
 }
